<div id="about">
	<div class="banner1"></div>
		<div class="info">
			<h1>What we do</h1>
			<p>  Stratus Optics provides high quality aerial video and photography to people like you. We can provide you with a view of the world that you've never seen before.  Our high performance drones give us the ability to provide services that were not possible or imaginable ten years ago.  The ability to fly as low as a couple feet off the ground or 400 feet in the air, allows us to get the perfect shot that any other camera simply could not provide.  There is no job too big or too small to implement our drone services.  Simply put, we are interested in providing any service possible involving drone technology.</p>
		</div>
	</div>

	<div class="banner2"></div>
		<div class="info">
			<h1>Who we are</h1>
			<p>We are a company that is on the cutting edge of the service industry.  We are passionate about technology and all the doors that it can open.  All of our drones are brand new, top of the line cutting edge technology.  Our drone pilots are the best at what they do, and are incredibly skilled at taking breathtaking video and photography, while also making safety a priority.  Let us help you capture life in a whole new way!</p>
			
			<a href="/contact">Reach out to us with any questions about Stratus Optics</a>

		</div>
	</div>
</div>	