

<form method="POST" action="/contact">
	<h1>Send us an Email!</h1>
	<h3>We would love to hear from you</h3>

	<label for="subject">Subject of your email</label>
	<input class="subject" type="textarea" name="subject">
	<br>
	<label for="from">Your Name</label>
	<input class="from" type="textarea" name="from">
	<br>
	<label for="emailfrom">Your Email Address</label>
	<input class="email" type="textarea" name="emailfrom">
	<br>
	<label for="message">Write your message here</label>
	<input class="message" type="paragraph_text" name="message">
	<br>
	<input class="submit" type="submit">
</form>