

<form method="POST" action="/contact">
	<h2>Send us an Email!</h2>
	<h4>We would love to hear from you</h4>

	<label for="subject">Subject of your email</label>
	<input class="subject" type="textarea" name="subject">
	<br>
	<label for="from">Your Name</label>
	<input class="from" type="textarea" name="from">
	<br>
	<label for="emailfrom">Your Email Address</label>
	<input class="email" type="textarea" name="emailfrom">
	<br>
	<label for="message">Write your message here</label>
	<input class="message" type="textarea" name="message">
	<br>
	<input class="submit" type="submit">
</form>