
<div class="homebackgroundmedia">
	<video autoplay loop muted id="video">
		<source src="/lilyvideo.mp4" type="video/mp4">
	</video>
</div>
<div id="homeplaceholder">
	<h1>Welcome to Stratus Optics</h1>
	<h3>click here to get started</h3>
	<div id="button">
		<a href="/services"></a>
	</div>
</div>