<div class="homebackgroundmedia">
	<video autoplay loop muted id="video">
		<source src="/lilyvideo.mp4" type="video/mp4">
	</video>
</div>
<div id="homeplaceholder">
	<h1>Welcome to Stratus Optics</h1>
		<a href="/services">
			<div id="button"><h3>Get Started</h3></div>
		</a>
</div>