<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="styles.css">
		<link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans|Syncopate|Julius+Sans+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="//f.vimeocdn.com/js/froogaloop2.min.js"></script>
		<script src="script.js"></script>
	</head>
	<header>

		<img src="hoverstat.png">

		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/services">Our Services</a>
				</li>
				<li>
					<a href="/contact">Contact Us</a>
				</li>
			</ul>
		</nav>

	</header>
	<div class="headerblock"></div>
	<div class="clear"></div>

	<%=yield%>
	<footer>
		<div id="foot">
			<ul class="social">
				<li>
					<a href="http://facebook.com">
						<i class="fa fa-facebook-official"></i>
					</a>
				</li>
				<li>
					<a href="http://twitter.com">
						<i class="fa fa-twitter-square"></i>
					</a>
				</li>
				<li>
					<a href="http://instagram.com">
						<i class="fa fa-instagram"></i>
					</a>
				</li>
				<li>
					<a href="http://linkedin.com">
						<i class="fa fa-linkedin-square"></i>
					</a>
				</li>
				<li>
					<a href="http://github.com">
						<i class="fa fa-github-square"></i>
					</a>
				</li>
				<p class="copy">&copy Copyright 2015</p>
			</ul>
		</div>
	</footer>
</html>