<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="styles.css">
		<link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans|Syncopate|Julius+Sans+One' rel='stylesheet' type='text/css'>
		<script src="script.js"></script>
	</head>

	<header>

		<img src="dronelogo.jpg">

		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/services">Our Services</a>
				</li>
				<li>
					<a href="/contact">Contact Us</a>
				</li>
			</ul>
		</nav>
	</header>

	<%=yield%>

	<footer>
		<ul class="social">
			<li>
				<a href="http://facebook.com">
					<img src="facebook.png">
				</a>
			</li>
			<li>
				<a href="http://twitter.com">
					<img src="twitter.png">
				</a>
			</li>
			<li>
				<a href="http://instagram.com">
					<img src="twitter.png">
				</a>
			</li>
			<li>
				<a href="http://linkedin.com">
					<img src="linkedin.png">
				</a>
			</li>
			<li>
				<a href="http://github.com">
					<img src="github.png">
				</a>
			</li>
		</ul>

		<p>&copy Copyright 2015</p>

	</footer>

</html>