<body>
	<div id= "serviceswrapper">
		<div id = "col1">
			<div class="box">
				<a href="javascript:;" data-img="drone_dji_inspire_1.jpg" class="lightbox">
					<img class="dronegallery" src="drone_dji_inspire_1.jpg">
				</a>
				<p class="descriptgallery">
					DESCRIPTION GOES HERE
				</p>
			</div>
		</div>

		<div id = "col2">
			<div class="box">
				<a href="javascript:;" data-img="drone_lilycam.jpg" class="lightbox">
					<img class="dronegallery" src="drone_lilycam.jpg">
				</a>
				<p class="descriptgallery">
					DESCRIPTION GOES HERE
				</p>
			</div>		
		</div>

		<div id = "col3">
			<div class="box">
				<a href="javascript:;" data-img="drone_dji_phantom_2.jpg" class="lightbox">
					<img class="dronegallery" src="drone_dji_phantom_2.jpg">
				</a>
				<p class="descriptgallery">
					DESCRIPTION GOES HERE
				</p>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</body>