<body>
	<div id= "serviceswrapper">
		<div id = "col1">
			<div class="box">
				<h1>
					DJI Inspire
				</h1>
				<a href="javascript:;" data-img="drone_dji_inspire_1.jpg" class="lightbox">
					<img class="dronegallery" src="drone_dji_inspire_1.jpg">
				</a>
				<p class="descriptgallery">
					
				</p>
			</div>
		</div>

		<div id = "col2">
			<div class="box">
				<h1>
					Lily Cam
				</h1>
				<a href="javascript:;" data-img="drone_lilycam.jpg" class="lightbox">
					<img class="dronegallery" src="drone_lilycam.jpg">
				</a>
				<p class="descriptgallery">
					Rent Purchase Accesorize Hire
				</p>
			</div>		
		</div>

		<div id = "col3">
			<div class="box">
				<h1>
					DJI Phantom 2
				</h1>
				<a href="javascript:;" data-img="drone_dji_phantom_2.jpg" class="lightbox">
					<img class="dronegallery" src="drone_dji_phantom_2.jpg">
				</a>
				<p class="descriptgallery">
					
				</p>
			</div>
		</div>
		<div></div>
		<div class="clear"></div>
	</div>
	<!-- INSTAGRAM -->
	<div class="instagram">
		<blockquote class="instagram-media" data-instgrm-version="4" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://instagram.com/p/7RqofqgnAE/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_top">A photo posted by From Where I Drone (@fromwhereidrone)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-09-06T04:38:54+00:00">Sep 5, 2015 at 9:38pm PDT</time></p></div></blockquote>
		<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
	</div>
</body>