/*####################
####### LAYOUT #######
######################*/
body {
    margin: 0;
    padding: 0;
}
/*----------HEADER-----------*/
header{
	background-color: gray;
	height: 120px;
	width: 100%;
	font-family: 'Syncopate', sans-serif;
	font-size: 15pt;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

header img{
	display: inline-block;
	float: left;
	height: 100px;
	width: 100px;
	margin-top: 10px;
	margin-left: 10px;
}

nav ul{
	display: inline-block;
	float: right;
	margin-top: 50px;
}

nav li{
	display: inline;
	margin-right: 150px;
}

nav a{
	color: black;
	text-decoration: none;
}

.headerblock{
	height: 120px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: static;
	top: 0px;
	left: 0px;
}

.clear{
	clear: both;
}

/*----------FOOTER-----------*/

footer{
	background-color: gray;
	height: 120px;
	width: 100%;
	/* */
	bottom: 0px;
	left: 0px;
	z-index: 2;
}


#foot{
	padding-top: 25px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.social li{
	display: inline;
	margin-right: 75px;
	margin-left: 75px;
}

.social a{
	font-size: 50px;
	color: black;
	text-decoration: none;
}
p.copy{
	font-family: 'Syncopate', 'sans-serif'
}

.social img{
	width: 50px;
	height: 50px;
}

footer p{
	float: right;
	margin-right: 50px;
	font-size: 14pt;
}

/*####################
######## HOME ########
######################*/

#homeplaceholder{
	height: 800px;
	text-align: center;
}

#homeplaceholder h1{
	font-family: "Quattrocento Sans";
	font-size: 40pt;
	position: fixed;
	top: 325px;
	left: 30%;
}

#homeplaceholder a{
	color: black;
	font-family: "Quattrocento Sans";
}

/*#homeplaceholder a:hover{
	color: white;
	background-color: white;
}*/

video{
	width: 100%;
	position: fixed;
	top: 120px;
	z-index: -1;
	opacity: .7;
}

#button:hover{
	color: gray;
	background-color: white;
	opacity: .5;
}

#button{
	border: 2px solid black;
	border-radius: 25px;
	width: 120px;
	height: 25px;
	position: fixed;
	top: 475px;
	left: 47%;
	padding-bottom: 32px;
}


/*####################
######## ABOUT #######
######################*/

.banner1{
	margin: 0px;
	height: 800px;
	width: 100%;
	background-image: url("/drone_main_image.jpg");
	background-size: cover;
}

.banner2{
	height: 800px;
	width: 100%;
	background-image: url("/Coastline.jpg");
	background-size: cover;
}

.info{
	width: 800px;
	margin: 50px auto;
}

.info h1 {
	font-family: "Syncopate";
	font-size: 30pt;
}

.info p, .info a{
	font-family: "Quattrocento Sans";
	font-size: 20pt;
}

/*####################
###### SERVICES ######
######################*/

div#serviceswrapper{

}

div#col1{
	float: left;
	margin-left: 5%;
	width: 30%;
}

div#col2{
	float: left;
	width: 30%;
}

div#col3{
	float: left;
	width: 30%;
	margin-right: 5%;
}

div.box{
	width: 100%;
	
	padding: 10px;
}

.dronegallery{
	width: 100%;
}

.descriptgallery{
	text-align: center;
	font-family: "Quattrocento Sans";
}

.box h1{
	font-family: "Quattrocento Sans";
	text-align: center;
}

.outerlight{
	background-color: rgba(0,0,0,.5);
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 1000;
}

.innerlight{
	text-align: center;
	font-style: bold;
}

.lightimg{	
	width: 70%;
	z-index: 1000;
}

.instagram{
	text-align: center;
	margin: 0 auto;
	width: 500px;

}
/*####################
####### CONTACT ######
######################*/

/*-----------FORM-------------*/

form{
	font-family: "Syncopate";
	margin-bottom: 50px;
	padding: 50px;
	float: left;
}

form label{
	width: 30%;
	margin-right: 100px;
	font-family: "Quattrocento Sans";
}

form input{
	display: block;
	width: 200px;
}

.message{
	width: 400px;
	height: 250px;
}

.submit{
	width: 200px;
	font-size: 25pt;
	background-color: gray;
}

.form-insta{
	float: right;
	margin-right: 50px;
	width: 600px;
	margin-top: 10px;
}

/*####################
##### LANDING ######
####################*/

.thanks{
	height: 400px;
}

.thanks h1{
	font-family: "Syncopate";
	padding-top: 100px;
	padding-left: 50px;
}

.thanks h2{
	padding-top: 50px;
	padding-left: 50px;	
}


